body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.first{
    color: #E0E2D2;
    background-color: black;
    height: 10vh;
    padding-left: 15vw;
    overflow: hidden;
    z-index: 999999;
    top: 0;
    position: sticky;
}

.link{
    height: 100%;
    width: 10vw;
    font-size: 20px;
    float: left;
    transition: .1s;
    text-align: center;
    padding-top: 3.5vh;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.link:hover{
    background-color: rgb(0,98,186);

    
}

.first img{
    margin-right: 10vw;
    float: right;
    height: 100%;
}

.welc-txt-primary{
    padding: 0;
    margin: 0;
    width: 80vw;
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-top: 20vh;
}

.welc-txt-secondary{
    padding: 0;
    margin: 0;
    width: 80vw;
    margin: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.panel-l{
    
    width: 45vw;
    color: #E0E2D2;
    float: left;
    font-size: 40px;
    text-align: center;
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0 100%);
    background-color: rgb(0,98,186);
    height: 100%;
    padding-top: 8vh;

}

.panel-r{
    background-color:  transparent;
    color: #E0E2D2;
    width: 40vw;
    float: right;
    padding-right: 3vw;
    padding-top: 6vh;
    font-size: 20px;
    line-height: 4vh;
    height: 22vh;
}

.desc{
    padding-top: 10vh;
    height: 100vh;
}

.wrap{
    margin: auto;
    margin-bottom: 10vh;;
    height: 22vh;
    background-image: url(1.jpeg);
    width: 96vw;
    box-shadow: 1vh 1vh 5px rgba(0, 0, 0, 0.2);
}

.number{
    padding-top: 10vh;
    margin-top: 8vh;
    background-image: url(3.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    box-shadow: 0vh 1vh 5px rgba(0, 0, 0, 0.2);
}

.icon{
    border-radius: 15px;
    color: black;
    text-align: center;
    width: 20.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid black;
    height: 32vh;
    margin-top: 5vh;
    float: left;
    font-size: 150%;
    padding-top: 10vh;
    transition: 0.2s;
}

.icon i{
    margin-bottom: 2vh;
    font-size: 50px;
}

.icon:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.carrier{

    width: 100%;
    margin-top: 10vh;
}

.choose{
    
    width: 45vw;
    margin: auto;
}

.list{
    font-size: 150%;
    text-align: center;
    width: 15vw;
    border: 1px solid rgb(0,98,186);
    border-bottom: none;
    float: right;
    padding: 30px 10px;
    transition: .2s;
    cursor: pointer;
}

.info{

    box-shadow: 1vh 1vh 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 6vh;
    border: 3px solid rgb(0,98,186);
    border-bottom: 50px solid rgb(0,98,186);
    min-height: 40vh;
    width: 70vw;
    clear: both;
    margin: auto;
}


.lista{
    font-size: 120%;
    line-height: 50px;
    margin: auto;
    width: 50vw;
    padding: 0 10vw;
}

.konkurs{
    margin: 10vh 0;
}

.konkurs-txt{
    margin: auto;
    width: 75vw;
}

.txt{
    font-size: 22px;
    line-height: 35px;
}

.kontakt{
    color: white;
    height: 30vh;
    background-color: rgb(0,98,186);
}

.moje{
    padding-left: 15vw;
    padding-top: 5vh;
}

.dane{
    
    font-size: 20px;
}